<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.openfeign.dao.mapper.extend.UserExtMapper">
  <resultMap id="BaseResultMap" type="com.example.openfeign.dao.po.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>

  <sql id="Base_Column_List">
    id, `name`, birthday, address
  </sql>
<select id="getSql" parameterType="string" resultType="java.util.LinkedHashMap">
  ${value}
</select>
  <update id="delete" parameterType="map" statementType="STATEMENT">
    delete from ${tableName}
  </update>
</mapper>